In [7]:
import numpy as np
import pandas as pd 

df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = "latin-1")

In [8]:
#check for missing data
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [13]:
#use groupby to count the sum of each unique value in the Y2014 column
df.groupby('Area')['Area'].count()

Area
Algeria                        1313
Angola                         1424
Benin                          1285
Botswana                       1378
Burkina Faso                   1409
Cabo Verde                     1260
Cameroon                       1460
Central African Republic       1344
Chad                           1343
Comoros                          45
Congo                          1413
CÃ´te d'Ivoire                  1467
Djibouti                       1095
Egypt                          1488
Eswatini                       1284
Ethiopia                       1447
Ethiopia PDR                     39
Gabon                          1245
Gambia                         1168
Ghana                          1354
Guinea                         1410
Guinea-Bissau                  1128
Kenya                          1560
Lesotho                        1150
Liberia                        1206
Madagascar                     1439
Malawi                         1447
Mali                           1293
Mauritania                     1195
Mauritius                      1378
Morocco                        1393
Mozambique                     1427
Namibia                        1283
Niger                          1403
Nigeria                        1474
Rwanda                         1426
Sao Tome and Principe          1177
Senegal                        1462
Seychelles                       68
Sierra Leone                   1242
South Africa                   1399
Sudan                          1316
Sudan (former)                   53
Togo                           1294
Tunisia                        1338
Uganda                         1458
United Republic of Tanzania    1419
Zambia                         1451
Zimbabwe                       1393
Name: Area, dtype: int64

In [12]:
print(df)

       Area Code      Area  Item Code           Item  Element Code  \
0              4   Algeria       2501     Population           511
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
0               Total Population - Both sexes     1000 persons  38924.00
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]

In [14]:
my_tuppy = (1,2,5,8)
my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [15]:
df.groupby('Element')['Element'].count()

Element
Domestic supply quantity                  5295
Export Quantity                           4403
Fat supply quantity (g/capita/day)        5023
Feed                                      1319
Food                                      4941
Food supply (kcal/capita/day)             5014
Food supply quantity (kg/capita/yr)       4905
Import Quantity                           5139
Losses                                    2009
Other uses (non-food)                     1732
Processing                                2010
Production                                3881
Protein supply quantity (g/capita/day)    5023
Residuals                                 4655
Seed                                       762
Stock Variation                           4232
Total Population - Both sexes               45
Tourist consumption                        555
Name: Element, dtype: int64

In [19]:
df.groupby('Element').get_group('Stock Variation').count

<bound method DataFrame.count of        Area Code      Area  Item Code                      Item  Element Code  \
13             4   Algeria       2905  Cereals - Excluding Beer          5072
29             4   Algeria       2511        Wheat and products          5072
45             4   Algeria       2805         Rice and products          5072
60             4   Algeria       2513       Barley and products          5072
75             4   Algeria       2514        Maize and products          5072
...          ...       ...        ...                       ...           ...
60842        181  Zimbabwe       2763              Pelagic Fish          5072
60853        181  Zimbabwe       2764        Marine Fish, Other          5072
60914        181  Zimbabwe       2928             Miscellaneous          5072
60924        181  Zimbabwe       2680               Infant food          5072
60934        181  Zimbabwe       2899             Miscellaneous          5072

               Element         Unit  Y2014   Y2015  Y2016  Y2017   Y2018
13     Stock Variation  1000 tonnes  684.0  1663.0  905.0  705.0  2226.0
29     Stock Variation  1000 tonnes  487.0  1401.0  731.0  546.0  1927.0
45     Stock Variation  1000 tonnes    8.0    -2.0   -4.0   17.0    37.0
60     Stock Variation  1000 tonnes   42.0    82.0   55.0   16.0   134.0
75     Stock Variation  1000 tonnes  146.0   177.0  122.0  127.0   124.0
...                ...          ...    ...     ...    ...    ...     ...
60842  Stock Variation  1000 tonnes    0.0     0.0    0.0    0.0     0.0
60853  Stock Variation  1000 tonnes    0.0     0.0    0.0    0.0     0.0
60914  Stock Variation  1000 tonnes    0.0     0.0    0.0   -4.0     0.0
60924  Stock Variation  1000 tonnes    0.0     0.0    0.0    0.0     0.0
60934  Stock Variation  1000 tonnes    0.0     0.0    0.0   -4.0     0.0

[4232 rows x 12 columns]>

In [24]:
df.groupby('Element').get_group('Processing').sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of        Area Code      Area  Item Code                      Item  Element Code  \
19             4   Algeria       2905  Cereals - Excluding Beer          5131
35             4   Algeria       2511        Wheat and products          5131
51             4   Algeria       2805         Rice and products          5131
66             4   Algeria       2513       Barley and products          5131
81             4   Algeria       2514        Maize and products          5131
...          ...       ...        ...                       ...           ...
60694        181  Zimbabwe       2946               Animal fats          5131
60717        181  Zimbabwe       2743                     Cream          5131
60730        181  Zimbabwe       2737        Fats, Animals, Raw          5131
60789        181  Zimbabwe       2948   Milk - Excluding Butter          5131
60803        181  Zimbabwe       2848   Milk - Excluding Butter          5131

          Element         Unit  Y2014  Y2015  Y2016  Y2017  Y2018
19     Processing  1000 tonnes   35.0   38.0   37.0   33.0   44.0
35     Processing  1000 tonnes    0.0    0.0    0.0    0.0    0.0
51     Processing  1000 tonnes    0.0    0.0    0.0    0.0    0.0
66     Processing  1000 tonnes   35.0   38.0   37.0   33.0   44.0
81     Processing  1000 tonnes    0.0    0.0    0.0    0.0    0.0
...           ...          ...    ...    ...    ...    ...    ...
60694  Processing  1000 tonnes    0.0    0.0    0.0    0.0    0.0
60717  Processing  1000 tonnes    0.0    0.0    0.0    0.0    0.0
60730  Processing  1000 tonnes    0.0    0.0    0.0    0.0    0.0
60789  Processing  1000 tonnes   59.0   59.0   58.0   56.0   57.0
60803  Processing  1000 tonnes   59.0   59.0   58.0   56.0   57.0

[2010 rows x 12 columns]>

In [44]:
df.groupby(['Y2017','Area'])['Y2017'].sum()

Y2017      Area
-1582.0    Egypt                           -3164.0
-1200.0    Mozambique                      -1200.0
-1159.0    Mozambique                      -1159.0
-865.0     United Republic of Tanzania      -865.0
-860.0     United Republic of Tanzania      -860.0
                                            ...
 96443.0   Egypt                           96443.0
 106400.0  Ethiopia                       106400.0
 112625.0  Nigeria                        112625.0
 117702.0  Nigeria                        117702.0
 190873.0  Nigeria                        190873.0
Name: Y2017, Length: 14773, dtype: float64

In [45]:
array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

In [46]:
df['Y2017'].mean()

140.917764860268

In [47]:
S = [['him', 'sell'], [90, 28, 43]]

In [48]:
S[0][1][1]

'e'